<div ng-controller="HomeCtrl">

	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand font logo-img logo-img-48" href="#/home"><span class="d-ib m-l-lg">Invitando</span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="">{{user.fullname}}({{user.email}})</a></li>
            <li ng-click="SignOut()"><a href="#">Sign Out <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <br />
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header font">My Events</h1>
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder bs p-md">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4 class="font">Event one</h4>
              <span class="text-muted">Description one</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder bs p-md">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4 class="font">event two</h4>
              <span class="text-muted">Description two</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder bs p-md">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4 class="font">Event three</h4>
              <span class="text-muted">description event three</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder bs p-md">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4 class="font">Event four</h4>
              <span class="text-muted">Description event four</span>
            </div>
          </div>

          
      </div>
    </div>

</div>
